@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-primary-muted: color-mix(in srgb, #2e1c46, transparent 25%);
  --color-secondary: #1e293b;
  --color-secondary-muted: color-mix(in srgb, #fff, transparent 75%);
  --color-main-100: #8a37dc;
  --color-main-200: #b42ea6;
  --color-main-300: #cb2a8c;
  --color-foreground: #f163bd;
  --color-foreground-100: #e2e5ec;
  --color-project: #302a44;
  --color-background: #2c1c47;
  --color-property-name: #9ad7f9;
  --color-property-value: #c28975;
  --color-property-instance: #4dc3ad;
  --color-property-key: #4e7eb3;
  --color-property-symbol: #d4d4d4;
}

@layer base {
  body {
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-slate-600) var(--color-slate-400);
    scroll-behavior: smooth;
  }
  body,
  button {
    font-family: "Inter", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-slate-600);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-slate-400);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-slate-700);
  }
}

@utility shimmer-shine {
  @apply relative border-0 overflow-hidden;
  &::after {
    content: "";
    @apply absolute -top-1/2 -left-1/4 w-[150%] h-[200%];
    @apply bg-[linear-gradient(45deg,transparent,rgba(255,255,255,0.3),transparent)];
    @apply -translate-x-full transition-all duration-700;
  }

  &:hover::after {
    @apply translate-x-full;
  }
}

@utility background-hero {
  background: linear-gradient(
    90deg,
    var(--color-main-100),
    var(--color-main-300)
  );
}
